#wrapper {
	width: 100%;
	margin: 0 auto;
}

#wrapper2 {
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
}

#wrapper3 {
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
}


#header1 {
	font-size: 4em;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 35px;
}

#button1 {
	margin-bottom: 20px;
}

#panel {
	text-align: center;
}
