<!DOCTYPE html>
<html lang="en" ng-app="BudgetTracker">
<head>
  <meta charset="UTF-8">
  <title>Budget Tracker</title>
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
<!-- inject:css -->
<link rel="stylesheet" href="/app/styles/styles.css">
<!-- endinject -->
</head>

<body ng-controller="MainController">
<div class="container">
<h1 id="header1"> Budget Tracker</h1>

<div id="wrapper">
<div class="panel panel-success">
<div id="panel" class="panel-heading">Income Entries</div>
<div class="panel-body">
<form>
  <div class="form-group">
    <input ng-model="IncomeDescriptionInput" type="text" class="form-control" id="input1" placeholder="Describe">
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input ng-model="AmountInput1" type="number" class="form-control" id="input2" placeholder="Amount">
    </div>
  </div>
  <button ng-click="AddIncome()" id="button1" type="submit" class="form-control btn btn-success">Add Income</button>
</form>
	<table class="table">
	<tr>
		<th>Description</th>
		<th>Amount</th>
		</tr>
	<tr ng-repeat="x in IncomeEntries" class="success">
		<td>{{x.description}}</td>
		<td>{{x.amount}}</td>
	</tr>
	</table>
</div>
</div>
</div>

<div id="wrapper2">
<div class="panel panel-danger">
<div id="panel" class="panel-heading">Expense Entries</div>
<div class="panel-body">
	<form>
 		 <div class="form-group">
   		 <input ng-model="ExpenseDescriptionInput" type="text" class="form-control" id="input1" placeholder="Description">
  		 </div>
  	<div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input ng-model="AmountInput2" type="number" class="form-control" id="input2" placeholder="Amount">
    </div>
  	</div>
  	<button ng-click="AddExpense()" id="button1" type="submit" class="form-control btn btn-danger">Add Expense</button>
	</form>
	<table class="table">
	<tr>
		<th>Description</th>
		<th>Amount</th>
		</tr>
	<tr ng-repeat="x in ExpenseEntries" class="danger">
		<td>{{x.description}}</td>
		<td>{{x.amount}}</td>
	</tr>
	</table>
</div></div></div>

<div id="wrapper3">
<div class="panel panel-info">
<div id="panel" class="panel-heading">Summary</div>
<div class="panel-body">
<p>Total Income: {{TotalIncome}}</p>
<p>Total Expense: {{ExpenseTotal}}</p>
<p>Remainding: {{Remainding}}</p>
</div></div></div></div>


<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="/app/app.js"></script>
<!-- endinject -->
</body>
</html>